<!DOCTYPE html>
<html>

<head>
  <title>My Pok&eacute;mon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Yay! Pandemic Over! We can hang out again!" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <!-- Generate favicons using: https://favicon.io/ -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/profile.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
</head>

<body>

  <div id="content">
    <div class="hero_image_banner">
      <form id="profile_name_container" action="/dashboard" method="get">
        <input id="profile_name" type="submit" value="Name">
      </form>
      <nav>
        <ul>
          <li><a href="#">Box 1</a> <span class="badge_text">57</span></li>
          <li><a href="#">Box 2</a> <span class="badge_text">362</span></li>
          <li><button type="button" id='chat-btn' data-bs-toggle="modal" data-bs-target="#chatModal">Chat<i class="fas fa-comments"></i></button></li>
          <li>
            <form action="/logout" method="get">
              <input id="logout" type="submit" value="Logout" />
            </form>
          </li>
        </ul>
      </nav>
    </div>

    <div id="left_placeholder">LEFT COLUMN& PLACEHOLDER</div>
    <div id="middle_placeholder">MIDDLE COLUMN PLACEHOLDER</div>
    <div id="right_placeholder">RIGHT COLUMN PLACEHOLDER</div>


    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" id="chatModal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">Chatting Room <img style="max-width: 5%;" src="img/ultraball.png" alt="ultraball"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div id="chat_card">
          <div class="text_container">
            <p id="greeting"></p>
          </div>
  
          <div id="chat-content">  
            <form id="chat_form">
              <textarea id="msg" placeholder="Your message here"></textarea>
              <input type="button" id="send" value="Send"/>
            </form>
            <div id="chat_content"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="disconnect-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  </div>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="/js/chat.js"></script>
</body>

</html>