body {
  display: grid;
  grid-template-rows: 10vh 45vh 38vh 7vh;
  grid-template-areas: 
    "audioPlayer"
    "form"
    "team-19"
    "footer";
  align-items: center;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px rgb(48, 48, 48);
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("/img/home-background.jpg");
  background-size: cover;
  overflow: auto;
}

#audioPlayer {
  grid-area: audioPlayer;
  padding-left: 20px;
}

#errorMsg {
  color: rgb(0, 132, 255);
}

#formPanel {
  grid-area: form;
  background-color: rgba(255, 0, 0, 0.849);
  box-shadow: 0 0 25px rgba(0,0,0,0.1), 0 5px 10px -3px rgba(0,0,0,0.13);
  border-radius: 1em;
  backdrop-filter: blur(6px);
  justify-self: center;
  width: 90%;
  max-width: 600px;
}

#team19 {
  display: flex;
  grid-area: team-19;
  max-width: 600px;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

#team19 p {
  text-align: center;
}

#team19 ul {
  list-style: none;
  padding-left: 0;
  border: 2px solid white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 80%;
}

#team19 li {
  padding: 0;
  margin-bottom: 5px;
}


footer {
  display: flex;
  grid-area: footer;
  background-color: rgb(0, 185, 31);
  color: white;
  justify-content: center;
  line-height: 20px;
  height: 100%;
}

footer p {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.titleContainer img {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-left: 10px;
}

#formTitle {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 15pt;
}

#loginForm {
  color: white;
  text-align: center;
}

#loginForm a {
  color: white;
  font-size: 11pt;
}

#loginForm>input {
  font-size: 1.1em;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  outline: none;
  border: none;
  text-align: center;
  color: #212121;
  padding: 0.4em;
  background-color: rgba(255,255,255,0.7);
  border-radius: 6px;
}


#loginForm>input[type="button"] {
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  font-size: 11pt;
  text-shadow: 1px 1px 2px rgb(48, 48, 48);
  background-color: transparent;
  border: 3px solid #f2f2f8;
  box-shadow: 1px 1px 2px rgb(48, 48, 48);
  color: #f2f2f8;
  transform: translate3D(0, 0, 0);
  transition: color 0.3s, background-color 0.3s, transform 0.15s;
  cursor: pointer;
}

#loginForm>input[type="button"]:hover {
  color: #fffb00;
  border-color: #fffb00;;
}

#loginForm>input[type="button"]:active {
  transform: translate3D(0, 4px, 0);
}

#loginForm>p {
  margin: 1em;
}

#loginForm>p>span {
  text-align: center;
  font-size: 1.1em;
  color: red;
  display: none;
}
