body {
    font-family: 'Mali', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(182, 174, 174);
}

/* Nav bar styling */
.navbar-dark .navbar-brand {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

.navbar {
    background-color: #a4d1a7;
}

.navbar-brand.abs:hover {
    color: rgb(255, 231, 248);
}

.navbar-brand.abs:active {
    color: rgb(255, 185, 249);
}

.content {
    display: grid;
    grid-template-areas: "add-user""current-users""update";
}

.form-container {
    display: flex;
    justify-content: center;
    grid-area: add-user;
}

form {
    width: 80%;
    padding: 2em;
    margin-top: 50px;
    font-size: 12pt;
    border: solid 2px #cab69c;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

form:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

legend {
    font-size: 12pt;
    font-weight: 600;
}

.button-container {
    display: flex;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
}

#submit,
#delete-all {
    width: 100px;
}

#submit {
    margin-left: auto;
    margin-right: 3px;
}

#delete-all {
    margin-right: auto;
    margin-left: 3px;
}

#delete-all {
    color: red;
}

#delete-all:hover {
    background-color: rgb(255, 199, 241);
    box-shadow: 0 8px 16px 0 rgb(255, 199, 241);
    color: white;
    font-weight: bolder;
}

#delete-all:active {
    background-color: rgb(124, 39, 39);
}

#submit:hover {
    background-color: #a4d1a7;
    box-shadow: 0 8px 16px 0 #a4d1a7;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

#submit:active {
    background-color: rgb(12, 100, 16);
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
    justify-self: center;
    grid-area: current-users;
}

table {
    width: 100%;
    position: relative;
    top: -0.5px;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th,
td {
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

th {
    background-color: #cab69c;
}

tr:nth-child(odd) {
    background-color: #cab69c;
    color: white;
}

.text-container {
    display: flex;
    grid-area: update;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: 600;
    color: rgb(0, 155, 0);
}

#status {
    display: flex;
    height: 100%;
    align-items: center;
}

a {
    text-decoration: none;
    color: red;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: inline flex;
    background: #a4d1cf;
    font-size: 12pt;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    color: white;
    filter: drop-shadow(0px 10px 4px #b9b8b8);
}

h2 {
    font-size: 12pt;
}

.list {
    padding: 20px;
}

/* We can change the media query width later */
@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
