html, body {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgb(255, 255, 255, 0.9)), url(/piche/background.jpg);
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.navbar-brand {
    font-family: "Leckerli One", Arial, Helvetica, sans-serif;
}

.nav-link img {
    height: 35px;
    width: auto;
    filter: invert(100%);
}

.content-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "profile-pic"
        "bio"
        "spotify-button"
        "song-data";
    margin-top: 30px;
}

#profile-pic {
    display: flex;
    grid-area: profile-pic;
    width: 100%;
    justify-content: center;
}

.image-cropper {
    width: 80vw;
    height: 80vw;
    max-width: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    border: solid rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 50%;
}

.image-cropper img {
    height: auto;
    width: 100%;
}

#bio {
    display: flex;
    flex-direction: column;
    grid-area: bio;
    width: 60%;
    justify-self: center;
    justify-content: center;
    margin-top: 15px;
}

.text-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.text-container p {
    display: flex;
    align-items: center;
    height: 100%;
}

#greeting {
    font-family: "Leckerli One", Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

#writeup {
    text-align: justify;
    font-family: "Mali", 'Times New Roman', Times, serif;
    font-weight: 500;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#spotify-button {
    grid-area: spotify-button;
    width: 20vw;
    height: 20vw;
    max-width: 70px;
    max-height: 70px;
}

.data-container {
    grid-area: song-data;
    /* width: 80%; */
    /* justify-self: center; */
}

.songs-1-4, .songs-5-8, .songs-9-12, .songs-13-16, .songs-17-20 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: 40px;
}

.songs-17-20 {
    margin-bottom: 50px;
}

.songs-1-4 table, .songs-5-8 table, .songs-9-12 table, .songs-13-16 table, .songs-17-20 table {
    table-layout: fixed;
    width: 320px;
    font-family: "Mali", 'Times New Roman', Times, serif;
    font-size: 10pt;
    font-weight: 500;
    justify-self: center;
}


table img {
    width: 150px;
    border: 1px solid black;
}

.thumbnail {
    width: 160px;
}

#thumbnail {
    text-align: center;
}

.track-info {
    width: 160px;
}

@media (max-width: 1280px) {
    .songs-1-4, .songs-5-8, .songs-9-12, .songs-13-16, .songs-17-20 {
        grid-template-columns: repeat(2, 50%);
        row-gap: 40px;
    }
}

@media (max-width: 640px) {
    .songs-1-4, .songs-5-8, .songs-9-12, .songs-13-16, .songs-17-20 {
        grid-template-columns: 100%;
        row-gap: 40px;
    }
}

