<!DOCTYPE html>
<html>
<div id="left_card" class="pokemon_card">
  <div class="text_container">
    <p class="pokemon_name">Mr. Mime</p>
    <img src="img/pokeball.png">
  </div>
  <div class="divider" id="divider_left"></div>
  <div class="pokemon_stats">
    <p><b>Seen:</b>&ensp;14</p>
    <p><b>Caught:</b>&ensp;1</p>
    <p><b>Weight:</b>&ensp;52.6kg&emsp;<b>Height:</b>&ensp;1.2m</p>
    <p><b>Type:</b>&ensp;Psychic&ensp;|&ensp;Fairy</p>
  </div>
  <div class="add_to_box_container">
    <a href="#">Add to box</a>
  </div>
  <img class="pokemon_sprite" src="img/mr_mime.gif">
  <div class="pokemon_description">
    <p>Mr. Mime is a master of pantomime. Its gestures and motions convince watchers that something unseeable
      actually exists. Once the watchers are convinced, the unseeable thing exists as if it were real.
    </p>
  </div>

</div>

</html>