body {
  font-family: 'Freckle Face', Arial, Helvetica, sans-serif;
  font-size: 15pt;
  margin: 0px;
  padding: 0px;
  color: white;
  background-image: url("../img/grass_background.jpg");
  letter-spacing: 2px;
}

#content {
  display: grid;
  grid-template-columns: 4vw 28vw 4vw 28vw 4vw 28vw 4vw;
  grid-template-rows: 7vh 4vh 85vh 4vh;
}

.badge_text {
  font-size: 7.5pt;
  font-weight: 500;
  color: white;
  background-color: #ff0000;
  padding: 0.35em 0.4em;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px rgb(59, 59, 59);
  display: inline-block;
  transform: translateY(-80%);
}

.pokemon_card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 55px 30px 200px 70px 200px 300px;
  grid-template-areas:
    "pokemon_name"
    "divider"
    "pokemon_stats"
    "add_to_box"
    "pokemon_sprite"
    "pokemon_description";
  align-items: center;
  width: 90%;
  padding: 0.5em;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 10px rgba(41, 41, 44, 0.7);
  font-size: 18pt;
  text-shadow: 1px 1px 2px rgb(64, 64, 70);
  justify-self: center;
}

.text_container {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 80%;
  justify-self: center;
}

.text_container p {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}

.text_container img {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-left: 15px;
}

.pokemon_name {
  grid-area: pokemon_name;
  font-weight: 600;
  font-size: 27pt;
  letter-spacing: 5px;
}

.divider {
  grid-area: divider;
  border-radius: 5px;
  height: 0px;
  width: 88%;
  justify-self: center;
  box-shadow: 2px 2px 2px rgb(126, 126, 133);
}

#divider_left {
  border-top: 3px solid rgba(255, 0, 0, 0.74);
  border-bottom: 3px solid rgba(255, 0, 0, 0.74);
}

#divider_middle {
  border-top: 3px solid rgba(65, 31, 255, 0.84);
  border-bottom: 3px solid rgba(65, 31, 255, 0.84);
}

#divider_right {
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
}

.pokemon_stats {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 20px;
  grid-area: pokemon_stats;
  height: 100%;
  font-size: 17pt;
}

.pokemon_stats p {
  margin: 0;
  margin-bottom: 20px;
}

.add_to_box_container {
  display: flex;
  justify-content: center;
  width: 150px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  justify-self: center;
  transform: translate3D(0, 0, 0);
  transition: color 0.3s, border-color 0.3s, transform 0.15s;
  cursor: pointer;
  grid-area: add_to_box;
}

.add_to_box_container a {
  transform: translate3D(0, 0, 0);
  transition: color 0.3s, transform 0.15s;
  cursor: pointer;
}

.add_to_box_container a:hover {
  color: red;
}

.add_to_box_container:hover {
  border-color: red;
}

.add_to_box_container:active {
  transform: translate3D(0, 4px, 0);
  outline: none;
}

.pokemon_sprite {
  grid-area: pokemon_sprite;
  max-width: 200px;
  justify-self: center;
}

.pokemon_description {
  grid-area: pokemon_description;
  width: 90%;
  justify-self: center;
  text-align: center;
  /* margin-top: 20px; */
}

/* Hides the scrollbar - this is the best solution I could come up with */
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
} 

#left_card {
  justify-content: center;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  overflow: auto;
  background: linear-gradient(rgba(240, 130, 255, 0.5), rgba(114, 147, 255, 0.5)), url("../img/background_pattern_1.png");
  color:rgba(255, 0, 0, 0.74);
}

#middle_card {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  overflow: auto;
  background: linear-gradient(rgba(251, 255, 0, 0.5), rgba(255, 0, 0, 0.5)), url("../img/background_pattern_2.png");
  color:rgba(65, 31, 255, 0.74);
}

#right_card {
  grid-column: 6 / span 1;
  grid-row: 3 / span 1;
  overflow: auto;
  background: linear-gradient(rgba(89, 0, 255, 0.8), rgba(0, 0, 0, 0.7)), url("../img/background_pattern_3.png");
  color:rgb(255, 255, 255);
}

.hero_image_banner {
  grid-column: 1 / span 7;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/background_clouds.png");
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#logout {
  font-family: "Press Start 2P";
  font-size: 13pt;
  font-weight: 600;
  text-shadow: 1px 1px 2px #ffffff;
  background-color: transparent;
  border: 3px solid #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #ffffff;
  color: #000000;
  transform: translate3D(0, 0, 0);
  transition: color 0.3s, border-color 0.3s, transform 0.15s;
  cursor: pointer;
  padding: 5px;
}

#logout:hover {
  color: rgb(255, 0, 0);
  border-color: red;
}

#logout:active {
  transform: translate3D(0, 4px, 0);
}

.hero_image_banner #profile_name {
  color: rgb(0, 0, 0);
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: 1px 1px 2px #ffffff;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding-left: 60px;
  justify-self: center;
  border: none;
  background: transparent;
  transform: translate3D(0, 0, 0);
  transition: transform 0.15s;
  cursor: pointer;
}

.hero_image_banner #profile_name:active {
  transform: translate3D(0, 4px, 0);
}

.hero_image_banner nav {
  display: flex;
  width: 90%;
  height: 100%;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  justify-self: right;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: 1px 1px 2px #ffffff;
}

.hero_image_banner ul {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero_image_banner li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media (max-width: 1520px) {

  .pokemon_card {
    grid-template-rows: 55px 30px 230px 70px 200px 300px;
  }

@media (max-width: 1310px) {
    #content {
      display: grid;
      grid-template-columns: 11vw 78vw 11vw;
      grid-template-rows: 8vh 8vh 4vh 85vh 4vh 85vh 4vh 85vh 4vh;
    }
    
  .pokemon_card {
    grid-template-rows: 55px 30px 190px 70px 200px 300px;
    max-width: 500px;
  }


  #left_card {
    justify-content: center;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }
  
  #middle_card {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
  
  #right_card {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
  }

  .hero_image_banner {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
  }

  #profile_name_container {
    display: flex;
    justify-content: center;
  }

  .hero_image_banner #profile_name {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    padding: 0;
  }

  .hero_image_banner nav {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    justify-self: center;
  }
}

@media (max-width: 700px) {

  #content {
    display: grid;
    grid-template-columns: 11vw 78vw 11vw;
    grid-template-rows: 5vh 20vh 4vh 85vh 4vh 85vh 4vh 85vh 4vh;
  }

  .hero_image_banner {
    grid-template-rows: 23% 77%;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {

  .pokemon_card {
    grid-template-rows: 50px 15px 200px 50px 180px 230px;
    max-width: 500px;
  }

  .pokemon_name {
    font-size: 21pt;
  }

  .pokemon_stats {
    font-size: 14pt;
  }

  #divider_left {
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

  #divider_middle {
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

  #divider_right {
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

  .text_container img {
    width: 25px;
    height: 25px;
  }
  .add_to_box_container {
    width: 120px;
  }

  .add_to_box_container a {
    font-size: 13pt;
  }

  .pokemon_sprite {
    width: 150px;
  }
  
  .pokemon_description {
    font-size: 14pt;
  }

  .hero_image_banner #profile_name {
    font-size: 10pt;
  }

  .badge_text {
    font-size: 7pt;
  }

  .hero_image_banner nav {
    font-size: 11pt;
  }

  #logout {
    font-size: 11pt;
  }
}

