<!DOCTYPE html>
<html>
<div id="middle_card" class="pokemon_card">
  <div class="text_container">
    <p class="pokemon_name">Poliwhirl</p>
    <img src="img/ultraball.png">
  </div>
  <div class="divider" id="divider_middle"></div>
  <div class="pokemon_stats">
    <p><b>Seen:</b>&ensp;37</p>
    <p><b>Caught:</b>&ensp;5</p>
    <p><b>Weight:</b>&ensp;8.46kg&emsp;<b>Height:</b>&ensp;0.79m</p>
    <p><b>Type:</b>&ensp;Water</p>
  </div>
  <div class="add_to_box_container">
    <a href="#">Add to box</a>
  </div>
  <img class="pokemon_sprite" src="img/poliwhirl.gif">
  <div class="pokemon_description">
    <p>The surface of Poliwhirl's body is always wet and slick with a slimy fluid. Because of this
      slippery covering, it can easily slip and slide out of the clutches of any enemy in battle.
    </p>
  </div>

</div>

</html>